.filter {
  display: flex;
  flex-shrink: 0;
  padding: 5px 0;
  background-color: inherit;
  filter: brightness(110%);
  justify-content: flex-end;

  &Search {
    flex: 1;
    margin: 0 5px;
  }

  &Choice {
    margin: 0 5px;
    padding: 3px;
    background-color: white;
    flex: 1;
    border: 1px solid;
  }
}
