@import "../../variables.scss";

.sideBar {
  flex-direction: column;
  position: relative;
  background-color: $sideBarBackgroundColor;
  min-width: 100%;

  @media screen and (min-width: 480px) {
    display: flex;
    flex: 1;
    min-width: 240px;
  }

  &Main {
    display: flex;
    align-items: stretch;
    background-color: white;
  }
}

.content {
  background-color: inherit;
  height: 100%;
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  flex-direction: column;
  padding-top: 10px;
}

.closeMenu {
  position: absolute;
  background-color: transparent;
  right: 0px;
}
