$mainDarkGray: darkgray;
$mainLightGray: lightgray;
$mainBlack: #333;

$sideBarBackgroundColor: $mainDarkGray;
$contentBackgroundColor: $mainLightGray;
$navbarBackgroundColor: $mainBlack;
$footerBackgroundColor: $mainBlack;
