.dropdown {
  position: relative;
  flex: 0 0 auto;

  &Button {
    margin: 0 5px;
    padding: 3px 5px;
    border: 1px solid;
  }

  &:hover &Content {
    display: block;
  }

  &Content {
    display: none;
    position: absolute;
    background-color: gray;
    margin-left: 5px;
    min-width: 100px;

    &Item {
      padding: 5px 0px;
      width: 100%;
      display: block;
      background-color: inherit;

      &:hover {
        filter: brightness(110%);
      }

      > input {
        margin: 5px;
      }
    }
  }
}
